.container {
  display: flex;
  flex-direction: column;
  color: $dark-blue;
  width: 50%;
}

.venue {
  font-size: 42px;
  padding-bottom: 10px;
  padding-top: 40px;

}

.show-image img {
  padding-bottom: 20px;
  width: 80%;
}

.time-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 22px;
}
