.container {
  display: flex;
  flex-direction: column;
  color: $dark-blue;
  width: 50%;
}

.venue {
  font-size: 42px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 40px;

}

.show-image img {
  padding: 20px 0px;
  width: 100%;
}

.time-address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 22px;
  align-items: flex-end;
}

.admin-container {
  display: flex;
  padding-top: 5%;
  padding-bottom: 10%;
  flex-direction: row;
  justify-content: space-between;
}
