<div class="pa-holder" >
  <h1>Privacy Agreement</h1>

  <div>
    Mind in Kingston GDPR, Data Protection and Privacy Notice
Mind in Kingston takes privacy very seriously. In line with the recent changes in the Data
Protection Act and the GDPR (General Data Protection Principles), we have updated our Privacy
Policy for the Internet and we have also created a new Privacy Policy for Beneficiaries.
The Privacy Policy for the Internet details what we do with any data that is accessed by using
our website and our social media pages. You can see the <a href="http://www.mindinkingston.org.uk/privacy-policy.asp" target="blank">full policy by clicking here</a>. The policy is
listed under the &#39;About Us&#39; tab (the second from the left).
The Privacy Policy for Beneficiaries details what happens to the data we collect and store when
you use our services, how long we keep it for and what your rights are as an individual. You can
download a full copy of the policy here.
The main points of the policy are:
 what data we collect (we collect data such as your name, address, phone number, email
address and details about your mental health issues - or that of the person you are
calling about)
* where we store it (we store data either in secure lockable furniture in the office, or on
our secure IT system)
* why we collect it (we collect data to provide beneficiaries with support, advice and
information, and to refer to other relevant services; some of this is collected on a lawful
basis, some for legitimate business reasons)
* when we might share data (to refer you to another service or get additional support for
you; this will always be discussed with you and consent will be sought first except in
some very specific circumstances i.e. if we have a safeguarding concern or if there is
police involvement)
* how long we keep it for (we keep data for different periods, depending in the law, terms
and conditions of grant agreements or contracts and how long you receive a service from
us)
* your rights (you can amend your data, have it deleted, have it transferred, limit what is
recorded and/ or shared, and have access to your data)
When we report to our funders and commissioners, we anonymise data and no personal
information is shared.
If you have any questions, please contact the Data Protection Officer Rianne Eimers
at rianne@mindinkingston.org.uk.
  </div>
</div>
