.index-container {
  display: flex;
  min-height: 100vh;
  padding-top: 2%;
}

.pic-container {
  width: 50%;
}

.pic-container img {
  width: 100%;
}

.index-img {
  widows: 90%;
  margin: 5px auto;
}

.event-container {
 margin: 0px 10px;
 width: 50%;
}

.events-header {
  width: 60%;
  margin-left: 5%;
  padding-bottom: 8%;
  font-weight: bold;
  color: $dark-blue;
  font-size: 2.5em;
}

.event-instance {
  width: 75%;
  margin: 5%;
  padding: 15px;
  border: 3px solid black;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.event-instance:hover {
  border: 3px solid rgb(94,141,231);
}

.content {
  min-width: 30%;
}

.fas {
  color: $dark-blue;
}
