.button {
  padding: 10px 45px;
  border-radius: 15px;
  background-color: #0F3378;
  color: white;
  margin-right: 20px;
}

.button:hover {
  transition: all .3s ease;
  color: white;
  transform: scale(1.1);
}
 #sus .btn {
  color: white;
 }

.small-button {
  padding: 8px 40px;
  border-radius: 15px;
  background-color: #0F3378;
  color: white;
  margin-right: 20px;
}

.small-button:hover {
  transition: all .3s ease;
  color: white;
  transform: scale(1.1);
}

.confirmed-button {
  padding: 8px 40px;
  border-radius: 15px;
  background-color: #0F3378;
  border: 3px solid rgb(17,51,120);
  color: white;
}

.confirmed-button:hover {
  border: 3px solid rgb(94,141,231);
}


.link-span a {
  text-decoration: none;
  height: 50%;
  border-radius: 4px;
  background-color: #0F3378;
  color: white;
  padding: 3px 8px;
}

.link-span:hover {
  transition: all .1s ease;
  color: white;
  transform: scale(1.1);
}

.link-admin a {
  text-decoration: none;
  height: 50%;
  border-radius: 4px;
  border: 2px solid $dark-blue;
  color: $dark-blue;
  padding: 3px 8px;
}

.link-admin:hover {
  transition: all .1s ease;
  color: $dark-blue;
  transform: scale(1.1);
}
