.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 95%;
  padding: 4%;
}

.navbar-light .navbar-nav .nav-link {
  padding: 10px 45px;
  border-radius: 15px;
  background-color: #0F3378;
  color: white;
  margin-right: 20px;

}

.navbar-light .navbar-nav .nav-link:hover {
  transition: all .3s ease;
  color: white;
  transform: scale(1.1);

}
